.title {
  width: fit-content;
  text-align: center;
}

.mascotas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

@media (max-width: 970px) {
  .mascotas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}
@media (max-width: 768px) {
  .mascotas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

.mascota {
  border-radius: 10px;
}

.accion {
  display: flex;
  font-size: 100%;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.accion i {
  font-size: 20px;
}

.accion i:hover {
  color: black;
}

.accion .info {
  color: rgb(30, 82, 203);
}

.accion .edit {
  color: rgb(209, 182, 45);
}

.accion .delete {
  color: rgb(189, 61, 70);
}

/* formulario */

.formulario-container {
  padding: 30px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nodata{
  padding: 5px 100px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 0.2px solid rgb(233, 233, 233);
  width: fit-content;
  margin: auto;
}